@font-face {
    font-family: 'Heldane';
    src: url(./fonts/test-heldane-display-regular.woff);
}

@font-face {
    font-family: 'Basier Circle';
    src: url(./fonts/BasierCircle-Regular.otf);
}




:root {
    /* --dark: #006434;
    --mid: #01964E;
    --light: #f1f2cfd0;
    --text: #004926;
    --grad-left: #03896333;
    --grad-right: #57836415;
    --cs-grad-left: #BA55D333;
    --cs-grad-right: #7E3ADA15; */

    /* --dark: #4020b5;
    --mid: #986cde;
    --light: #f5e9f7;
    --text: #292456;
    --grad-left: #2a20b510;
    --grad-right: #877bf62c;
    --cs-grad-left: #BA55D333;
    --cs-grad-right: #7E3ADA15; */

    --dark: #203FB5;
    --mid: rgb(24, 24, 196);
    --light: rgb(233, 236, 247);
    --text: #292456;
    --grad-left: #202ab510;
    --grad-right: #7b7ff62c;
    --cs-grad-left: #BA55D333;
    --cs-grad-right: #7E3ADA15;
  }


html, body {
    font-size: .9rem;
    line-height: 115%;
    font-family: 'Basier Circle', Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: #f4f5f2;
}

a {
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--mid);
}

a:hover {
    color: var(--mid);
}

/* WRAPPERS */

.wrapper {
    display: flex;
    width: 60vw;
    margin: 48px auto;
    gap: 16px;
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0;
    /* font-family: 'Heldane', Georgia, 'Times New Roman', Times, serif; */
}

.left {
    flex: 2;
    border: .75px solid var(--mid);
    border-bottom: none;
}

.right {
    flex: 1;
    display: flex;
    border: .75px solid var(--mid);
    flex-direction: column;
    /* max-width: 50%; */
}

.writing {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: .75px solid var(--mid);
}

.header {
    padding: 4px 16px;
    text-transform: uppercase;
    font-size: 1rem;
    align-content: center;
    border-bottom: .75px solid var(--mid);
    font-family: meno-display-extra-condensed,serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: .05;
    /* color: rgb(234, 81, 157); */
}

/* .name {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--mid);
    padding: 8px 24px;

} */


.info {
    padding: 16px;
    height: auto;
    flex-grow: 1;
    line-height: 150%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

audio {
    /* mix-blend-mode: hard-light; */
    height: 32px;
    border: .5px solid var(--mid);
    opacity: 50%;
    border-radius: 100px;
    width: 100%;
}

.audio-label {
    font-family: meno-display-extra-condensed,serif;
    font-style: italic;
    padding-top: 32px;
    padding-bottom: 4px;
}


/* PROJECTS */

.proj-container {
    display: flex;
    gap: 24px;
    width: 100%;
    border-bottom: .75px solid var(--mid);
}

/* .proj-container:hover {
    background-color: #0A7;
} */

.proj-img-container {
    display: flex;
    width: 120px;
    justify-content: center;
    /* object-fit: cover; */
}

.proj-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 16px 0px 8px 0px;
    gap: 6px;
    justify-content: space-between;
}

.proj-title {
    font-size: 1.5rem;
    /* margin-bottom: 2px; */
    /* font-weight: bold; */
    /* font-family: 'Heldane', Georgia, 'Times New Roman', Times, serif; */
    font-family: meno-display-extra-condensed,serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: .05;
}

.proj-year {
    margin-right: 16px;
    font-size: .75rem;
    color: var(--dark);
}

.proj-type {
    font-size: .75rem;
    align-self: baseline;
    /* font-style: italic; */
    background: linear-gradient(to right, var(--grad-right), var(--grad-left)) ;
    border-radius: 100px;
    padding: 0px 6px;
    width: max-content;
    margin-top: 6px;
}

.case-study {
    display: inline;
    border-radius: 100px;
    padding: 0px 6px;
    width: max-content;
    margin-top: 6px;
    font-size: .75rem;
    align-self: baseline;
    border: .5px solid var(--mid);
    /* background: linear-gradient(to right, var(--cs-grad-right), var(--cs-grad-left)) ; */
}

.pills {
    display: flex;
    gap: 4px;
}


.proj-desc {
    margin-right: 24px;
}

.proj-context {
    margin-right: 16px;
}

.cover {
    width: 100%;
    filter: blur(20px);
    /* transition: filter 500ms; */
    border-radius: 100px;
}

.cover-hover {
    filter: blur(0);
    /* transform: scale(1.75); */
    border-radius: 0;
    border-right: .5px solid var(--mid);
}

/* comment */



/* WRITING */

a.writing-link {
    /* font-family: 'Heldane', Georgia, 'Times New Roman', Times, serif; */
    color: var(--text);
    text-decoration: underline;
    text-decoration-color: var(--mid);
    /* font-size: 1rem; */
    /* transition: color 500ms; */
    font-style: italic;
}

a.writing-link:hover {
    color: var(--mid);
    cursor: alias;
}

.writing-year {
    margin-left: 16px;
    font-size: .75rem;
    color: var(--dark);
}

/* ICONOGRAPY */

.icon {
    width: 12px;
    padding-right: 4px;
    opacity: 85%;
}

span.contact {
    display: flex;
    gap: 6px;
    align-items: center;
    padding-top: 4px;
}

.contact-link {
    text-decoration: underline;
    text-decoration-color: var(--mid);
    color: inherit;
}

.proj-header {
    display: flex;
    /* flex-direction: column; */
}

.category {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-size: .75rem;
    font-family: 'Basier', Arial, Helvetica, sans-serif;
    font-style: normal;
    justify-content: flex-end;
}

.categories {
    justify-content: right;
    display: flex;
    gap: 12px;
}

.shea {
    border-radius: 1000%;
    border: .5px solid var(--mid);
    opacity: 95%;
    filter: drop-shadow(0 0 30px var(--light));
    width: 80%;
    margin: auto;
}

/* .broider {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAjBJREFUeF7tncFxwzAMBKXqUkFSZFKBq0u+Ef24ucERMun1VyDIWx5gmpnY57HZ6+vz8ftf0vfPx9kpsXWyDmEADVMGKEDDBES6ux3nqn35HgpQd0txaJjYuwNdrQTd7a/qs3todUJXYHd8VR9Ahx0DaNjC04GOE6j1u5+dqwLS46v6ZMkD9IpYGQagw+0UDi1e16UrUDp03LFqz1IOuPt5VR9AOTbN9TAODfNtBxpev0xXFSgnCAfYPTQ8v0wHUInICwCox0tGA3SzC2O540NAew9dzXEAdQmE43FoGujuJdit7+yeMGwIma5bH0DllngBAPV4yWj7Tam7hKSCcEBVH0C5Dw1bEqCbAZ0rZ/3sdg9dX/JcBQAN8wXobKDVc1h1fFjfU7rq+tT4J4eqAUpwdbzKX31eXZ8aD1DzP+0AGj6420CrJfXu43mXDzsAoAANEwinsx2qmnJ4fe3pqvoAGj4FABSgc7tAe8m7cqoLdOfrjh/12SXvLhigLjERD1CAWgTaS95aXSD47oqY3kMDjKwUALVw6WCAakZWBEA3OyW8fA+923FWeRzHAVCXmIgH6N1AVytBl1dVn+3Q6oSuwO74qj6Ach8617PTHTpOoOSor+EZx1cFpMdX9cmSB+gVsTIMQPnepqtjliv5dM9TPeru59UNkiUPUO+HBQDKOXRuU2gv+blynrNXBXav1y757gUCNEwcoAANE9jsb0QunfYeuloJA9QlEI7HoWGgf7MjOf+/ZaMqAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  24px;
    border-style:  solid;
    width: 60%;
    margin: auto;
} */

/* .shea:hover{
    filter: blur(0);
} */

/* LINKS AND DISPLAY */

.project-link, .no-link {
    color: inherit;
    text-decoration: none;
    display: inherit;
    width: inherit;
    gap: inherit;
}

.no-link:hover {
    cursor: default;
    color: var(--text)
}

.project-link:hover {
    background: var(--light);
    color: var(--mid);
}

.pointer:hover {
    cursor: pointer;
}

.out:hover {
    cursor: alias;
}

.mobile-info {
    display: none;
}

.desktop-info {
    display: auto;
}

.none {
    display: none;
}



/* PAGES */

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 48px auto;
    gap: 16px;
    color: var(--text);
}

.page-title {
   font-family: meno-display-extra-condensed,serif;
   font-style: italic;
   font-size: 2.5rem;
   line-height: 115%;
}

.page-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border: .5px solid var(--mid);
}

.page-details {
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
}

.back {
    text-decoration: none;
    border: .5px solid var(--mid);
    width: min-content;
    padding: 8px 12px;
    color: var(--text);
    display: flex;
    gap: 4px;
}

.back:hover{
    background-color: var(--light);
}

.highlight {
    background-color: var(--light);
}

.paragraph, h3, .details {
    line-height: 150%;
    width: 75%;
    margin: auto;
}

h3 {
    font-family: meno-display-extra-condensed,serif;
    font-style: italic;
    /* font-size: 1.5rem; */
    margin-block-end:16px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-block-start: 32px;
}

.paragraph {
    margin-block-end: 12px;
}

.details {
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
}

.detail-column {
    display: block;
    width: 30%;
}

.reset-margin {
    margin-left: 0;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
}

.page-image {
    width: 100%;
    margin: 24px 0 0 0;
}

figcaption {
    text-justify: center;
    margin: 8px auto 48px auto;
    font-size: .8rem;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.column-third {
    flex-basis: 30%;
}

.column-half {
    flex-basis: 45%;
}

img {
    width: 100%;
}

.out-icon {
    display: none;
}




@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
        width: auto;
        margin: 20px;
        gap: 0;
        border: .75px solid var(--mid);
    }

   

    .right, .left {
        border: none;
    }

    .proj-title { 
        font-size: 1.2rem;
    }

    .proj-img-container {
        width: 80px;
    }

    .proj-context {
        display: none;
    }

    .proj-year {
        margin-right: 8px;
    }

    .desktop-info {
        display: none;
    }

    .categories {
        display: none;
    }

    .out-icon{ 
        margin-left: 4px;
        display: inline;
        width: 10px;
    }

    .mobile-info {
        display: block;
        border-bottom: .75px solid var(--mid);
    }

    /* PROJECT PAGES */

    .page-wrapper {
        flex-direction: column;
        width: auto;
        margin: 8px;
        gap: 16px;
        color: var(--text);
    }

    .page-content {
        padding: 12px;
        border: none;
    }

    .page-header {
        line-height: 100%;
    }

    .paragraph, h3 {
        width: auto;
    }

    h3 {
        margin-left: 0;
        margin-block-start: 16px;
        margin-block-end: 8px;
    }

    .image-wrapper {
        margin: 12px 0px;
    }

    .details {
        flex-direction: column;
        width: auto;
        gap: 12px;
        background-color: var(--light);
        border-radius: 12px;
        padding: 12px;
        margin: 8px 0;
    }

    .detail-column {
        width: auto;
    }

    .reset-margin {
        margin-top: 4px;
    }

    .page-image {
        margin: 0px -20px 0px -20px;
        width: 100vw;
    }

    figcaption {
        margin-bottom: 12px;
    }

    .page-title {
        line-height: 100%;
    }

    .page-details {
        gap: 8px;
    }

    /* .shea {
        width: 60%;
    } */

    .image-gallery {
        gap: 0;
    }

    .audio-label, .audio {
        /* display: none; */
    }

    /* .broider {
        margin: 24px auto;
    } */

   


    
    
}